<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Gestión de Clientes</title>
</head>
<body class="bg-light">

<div class="container py-4">
    <a th:href="@{/agregarCliente}">Agregar cliente</a>
    <br>
    <table class="table table-striped">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>CUI</th>
                <th>Fecha de nacimiento</th>
                <th>Dirección</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellido}"></td>
                <td th:text="${cliente.cui}"></td>
                <td th:text="${cliente.fechanacimiento}"></td>
                <td th:text="${cliente.direccion}"></td>
                <td th:text="${cliente.correo}"></td>
                <td th:text="${cliente.telefono}"></td>
                <td>
                    <a th:href="@{/editarCliente/}+${cliente.idcliente}" th:text="Editar"/>
                </td>
                <td>
                    <a th:href="@{/eliminarCliente/}+${cliente.idcliente}" th:text="Eliminar"/>
                </td>
            </tr>
    </table>

    <div class="mt-4">
        <a th:href="@{/}" class="btn btn-secondary">← Volver a menú principal</a>
    </div>

</div><! --/container -->

</body>
</html>